@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Currently the date and time is: @ViewData["TimeStamp"]</h2>
</div>
